name: Deploy Docker

on:
    push:
        branches:
            - staging

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v4
              with:
                context: .
                file: Dockerfile
                tags: ${{ secrets.DOCKER_USERNAME }}/todomvc-composition-api:latest
                push: true
                cache-from: type=local,src=docker-cache
              
    depoly:
        runs-on: ubuntu-latest
        steps:
            - name: Deploy to Server
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.SERVER_HOST }}
                username: ${{ secrets.SERVER_USER }}
                key: ${{ secrets.SSH_PRIVATE_KEY }}
                script: |
                    docker pull ${{ secrets.DOCKER_USERNAME }}/todomvc-composition-api:latest
                    docker stop todomvc-composition-api
                    docker rm todomvc-composition-api
                    docker run -d --name todomvc-composition-api -p 80:80 ${{ secrets.DOCKER_USERNAME }}/todomvc-composition-api:latest