name: Docker

on:
    push:
        branches:
            - docker

jobs:
    buildAndPush:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_TOKEN }}

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v4
              with:
                context: .
                file: Dockerfile
                tags: ${{ secrets.DOCKER_USERNAME }}/test1:latest
                push: true
                cache-from: type=local,src=docker-cache
      
    deploy:
        runs-on: ubuntu-latest
        needs: buildAndPush
        steps:
            - name: Deploy to Server
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.SERVER_HOST }}
                username: ${{ secrets.SERVER_USER }}
                key: ${{ secrets.SSH_PRIVATE_KEY }}
                script: |
                    docker pull ${{ secrets.DOCKER_USERNAME }}/test1:latest
                    docker stop test1
                    docker rm test1
                    docker run -d --name test1 -p 19980:80 ${{ secrets.DOCKER_USERNAME }}/test1:latest